* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  background-color: #f1f5f9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 300px;
  border-radius: 16px;
  background-color: bisque;
}
.clear {
  margin: 20px;
  width: 100px;
  height: 30px;
}
.input-group {
  display: flex;
  margin: 20px;
}

.item-list {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 180px;
}
.edit-btn {
  color: #050708;
  border-radius: 4px;
  width: 40px;
  height: 20px;
}
.clear {
  color: #050708;
  border-radius: 4px;
}
.delete-btn {
  color: #050708;
  border-radius: 4px;
  width: 50px;
  height: 20px;
}
.buttons {
  display: flex;
  gap: 10px;
}
.save {
  display: none;
}
