* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  background-color: #f1f5f9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 377px;
}
.clear {
  margin: 20px;
  width: 100px;
  height: 30px;
}
.input-group {
  margin: 20px;
}

.item-list {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
  justify-content: space-between;
  width: 180px;
}
